# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Windoze
Scripts/

# Virtual environment directories
env/
venv/
ENV/
venv.bak/
.venv/
# Not to mention the pip-installed packages
pyvenv.cfg

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm IDE
.idea/
*.iml

# VSCode IDE
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# Logs and other files
*.log
*.out
*.err

# Other editors
*.swp
*.swo

# kivy related
share/

